#{extends 'main.html' /}
#{set title:'Welcome' /}
<script>
$(document).ready(function(){
	$("#deleteBtn").click(function(event){
		$("#deleteForm").submit();
		event.preventDefault();
	});
});
</script>
<h1>Welcome ${user.email}</h1>

#{if flash.success}
<div class="alert-message success">
	&{flash.success}
</div>
#{/if}
	<div style="float: left; margin-right: 40px;">
		<h2>${event ? 'Edit' : 'New'} event</h2>
		#{form @Events.save()}
			<input type="hidden" name="event.id" value="${event ? event.id : flash['event.id']}" />
			<div class="clearfix ${errors.forKey('event.name') ? 'error' : ''}">
		    	<label for="event.name">Name</label>
		        <div class="input">
		        	<input class="xlarge ${errors.forKey('event.name') ? 'error' : ''}" type="text" name="event.name" id="event.name" value="${event ? event.name : flash['event.name']}" />
					<span class="help-inline">#{error 'event.name'/}</span>
		        </div>
		   	</div>
		   	<div class="clearfix ${errors.forKey('event.dayOfMonth') ? 'error' : ''}">
		    	<label for="event.dayOfMonth">Day of month</label>
		        <div class="input">
		        	<input class="${errors.forKey('event.dayOfMonth') ? 'error' : ''}" type="event.dayOfMonth" name="event.dayOfMonth" id="event.dayOfMonth" value="${event ? event.dayOfMonth : flash['event.dayOfMonth']}"/>
					<span class="help-inline">#{error 'event.dayOfMonth'/}</span>
		        </div>
		   	</div>
		   	<div class="clearfix ${errors.forKey('event.monthOfYear') ? 'error' : ''}">
		    	<label for="event.monthOfYear">Month of year</label>
		        <div class="input">
		        	<input class="${errors.forKey('event.monthOfYear') ? 'error' : ''}" type="event.monthOfYear" name="event.monthOfYear" id="event.monthOfYear" value="${event ? event.monthOfYear : flash['event.monthOfYear']}" />
					<span class="help-inline">#{error 'event.monthOfYear'/}</span>
		        </div>
		   	</div>
		   	<div class="clearfix ${errors.forKey('reminder.numberOfDaysBeforeEvent') ? 'error' : ''}">
		    	<label for="reminder.numberOfDaysBeforeEvent">Alert me x days before event</label>
		        <div class="input">
		        	<input class="${errors.forKey('reminder.numberOfDaysBeforeEvent') ? 'error' : ''}" type="reminder.numberOfDaysBeforeEvent" name="reminder.numberOfDaysBeforeEvent" id="reminder.numberOfDaysBeforeEvent" value="${event ? reminder.numberOfDaysBeforeEvent : flash['reminder.numberOfDaysBeforeEvent']}"/>
					<span class="help-inline">#{error 'reminder.numberOfDaysBeforeEvent'/}</span>
		        </div>
		   	</div>
			<div class="actions">
		        <button type="submit" class="btn primary">Save</button>
		        <a href="/" class="btn">Cancel</a>
		        #{if event}
			        <button type="submit" id="deleteBtn" class="btn danger">Delete</button>
		        #{/if}
   		    </div>
		#{/form}
		
		#{if event}
		#{form @Events.delete(event.id), id:'deleteForm'}
		#{/form}
		#{/if}
    </div>
    <div>
		<h2>Your events </h2>
		<ul>
		#{list items:user.events, as:'event'}
			<li><a href="@{Events.show(event.id)}">${event.name}</a></li>
		#{/list}
		</ul>
    </div>

