#{extends 'main.html' /}
#{set title:'Register' /}

<h1>Register</h1>
#{form @Account.performChangePassword()}
	#{if flash.error}
		<p class="error">
			&{flash.error}
		</p>
	#{/if}
	<div class="clearfix ${errors.forKey('oldPassword') ? 'error' : ''}">
    	<label for="oldPassword">Current password</label>
        <div class="input">
        	<input class="xlarge ${errors.forKey('oldPassword') ? 'error' : ''}" type="password" name="oldPassword" id="oldPassword" value="${flash['oldPassword']}" />
			<span class="help-inline">#{error 'oldPassword'/}</span>
        </div>
   	</div>
   	<div class="clearfix ${errors.forKey('newPassword') ? 'error' : ''}">
    	<label for="newPassword">New password</label>
        <div class="input">
        	<input class="xlarge ${errors.forKey('newPassword') ? 'error' : ''}" type="password" name="newPassword" id="newPassword" value="${flash['newPassword']}" />
			<span class="help-inline">#{error 'newPassword'/}</span>
        </div>
   	</div>
   	<div class="clearfix ${errors.forKey('newPasswordConfirm') ? 'error' : ''}">
    	<label for="newPasswordConfirm">New password (confirm)</label>
        <div class="input">
        	<input class="xlarge ${errors.forKey('newPasswordConfirm') ? 'error' : ''}" type="password" name="newPasswordConfirm" id="newPasswordConfirm" value="${flash['newPasswordConfirm']}"/>
			<span class="help-inline">#{error 'newPasswordConfirm'/}</span>
        </div>
   	</div>
	<div class="actions">
        <button type="submit" class="btn primary">Change</button>
    </div>
#{/form}
