#{extends 'main.html' /}
#{set title:'Home' /}

    <!-- Topbar
    ================================================== --> 
    <div class="topbar"> 
      <div class="topbar-inner"> 
        <div class="container"> 
          <h3><a href="#">Bootstrap</a></h3> 
          <ul class="nav"> 
            <li class="active"><a href="#masthead">Overview</a></li> 
            <li><a href="#about">About</a></li> 
            <li><a href="#grid-system">Grid</a></li> 
            <li><a href="#layouts">Layouts</a></li> 
            <li><a href="#typography">Typography</a></li> 
            <li><a href="#tables">Tables</a></li> 
            <li><a href="#forms">Forms</a></li> 
            <li><a href="#navigation">Navigation</a></li> 
            <li><a href="#alerts">Alerts</a></li> 
            <li><a href="#popovers">Popovers</a></li> 
            <li><a href="#less">Less</a></li> 
          </ul> 
        </div> 
      </div> 
    </div>  