<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta charset="utf-8">
        <!-- Le HTML5 shim, for IE6-8 support of HTML elements --> 
    	<!--[if lt IE 9]>
      	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    	<![endif]--> 
        
        <link rel="stylesheet" href="http://twitter.github.com/bootstrap/assets/css/bootstrap-1.2.0.min.css">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        <script src="@{'/public/javascripts/jquery-1.5.2.min.js'}" type="text/javascript" charset="utf-8"></script>
        #{get 'moreScripts' /}
    </head>
    <body>
	    <!-- Topbar
	    ================================================== --> 
	    <div class="topbar"> 
	      <div class="topbar-inner"> 
	        <div class="container"> 
	          <h3><a href="#">Bootstrap</a></h3> 
	          <ul class="nav"> 
	            <li class="active"><a href="#masthead">Overview</a></li> 
	            <li><a href="#about">About</a></li> 
	            <li><a href="#grid-system">Grid</a></li> 
	            <li><a href="#layouts">Layouts</a></li> 
	            <li><a href="#typography">Typography</a></li> 
	            <li><a href="#tables">Tables</a></li> 
	            <li><a href="#forms">Forms</a></li> 
	            <li><a href="#navigation">Navigation</a></li> 
	            <li><a href="#alerts">Alerts</a></li> 
	            <li><a href="#popovers">Popovers</a></li> 
	            <li><a href="#less">Less</a></li> 
	          </ul> 
	        </div> 
	      </div> 
	    </div>
	    <div class="container" style="margin-top: 40px;">       
        	#{doLayout /}
        </div>
    </body>
</html>
