<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta charset="utf-8">
        <!-- Le HTML5 shim, for IE6-8 support of HTML elements --> 
    	<!--[if lt IE 9]>
      	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    	<![endif]--> 
        
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/bootstrap.css'}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        <script src="@{'/public/javascripts/jquery-1.6.4.min.js'}" type="text/javascript" charset="utf-8"></script>
        <script src="@{'/public/javascripts/bootstrap-dropdown.js'}" type="text/javascript" charset="utf-8"></script>
        
        #{get 'moreScripts' /}
    </head>
    <body>
	    <!-- Topbar
	    ================================================== --> 
	    <div class="topbar"> 
	      <div class="topbar-inner"> 
	        <div class="container"> 
	          <h3><a href="/">Remind Me Event</a></h3> 
	          <ul class="nav"> 
	          </ul> 
	          <ul class="nav secondary-nav">
	          	#{if session.username}
	          	<li class="dropdown" data-dropdown="dropdown">
              		<a href="#" class="dropdown-toggle">
              			<img src="${gravatar}" width="20" height="20" />
              			Account
           			</a>
              		<ul class="dropdown-menu">
                		<li>#{a @Account.changePasswordForm()}Change password#{/a}</li>
                		<li>#{a @Account.changeEmailForm()}Change email#{/a}</a></li>
                	</ul>
            	</li>
              	#{/if} 	          
            	<li>
            		#{if session.username}
            			#{a @Secure.logout()}Logout#{/a}
            		#{/if}
        		</li>
              </ul>
	        </div> 
	      </div> 
	    </div>
	    <div class="container">       
        	#{doLayout /}
        </div>
    </body>
</html>
